/* dialer.css */

/* Header */
.dialer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #001C30;
    background: linear-gradient(to right, #001C30, #176B87);
  }
  
  .dialer-info {
    flex-grow: 1;
  }
  
  .dialer-name {
    margin: 0;
    color: #EEEEEE;
    font-size: 25px;
    font-weight: 500;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .search-box input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    background-color: #f4f4f4;
    transition: width 0.3s ease-in-out;
    width: 200px;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    color: #141E61;
  }
  
  .options {
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .option-icon {
    font-size: 24px;
    color: #EEEEEE; /* Palette color */
    transition: color 0.3s;
  }
  
  .options:hover {
    color: #787A91;
  }
  
  .options-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    transform: translate(0, -5px);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .option-title {
    padding: 10px 20px;
    color: #0F044C; /* Palette color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-title:hover {
    background-color: #EEEEEE; /* Palette color */
  }
  
  
  .options-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options-dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .options-dropdown li:hover {
    background-color: #f4f4f4;
  }

  

.dialer-welcome-box {
    background-image: url('./crm-banner.jpg'); /*  path to image */
    background-size: cover;
    background-position: center;
    height: 370px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .welcome-content {
    text-align: center;
  }
  
  .welcome-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .welcome-content p {
    font-size: 18px;
  }
  


  .dialer-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dialer-box {
    width: calc(25% - 10px); /* Adjust the width and spacing as needed */
    background-color: #DAFFFB;
    background: linear-gradient(to bottom, #DAFFFB, #fff);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
  }
  
  .box-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .dialer-box h2 {
    font-size: 20px;
    color: #141E61;
    margin: 0;
  }
  
  .dialer-box a {
    text-decoration: none;
    color: inherit;
  }
  



  /* manageuser css */

  .header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .header-button {
    padding: 8px 12px;
    background-color: #4ad5c3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .header-button:hover {
    background-color: #0d9d58;
    transform: translateY(-2px);
  }
  

  /* Add margin to create spacing between items */
.header-buttons > *:not(:last-child) {
    margin-right: 5px; /* Adjust the margin as needed */
  }


/* User Details Table */
.user-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-details-table th,
  .user-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-details-table th {
    background-color: #f4f4f4;
  }
  
  /* Status Dot */
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green {
    background-color: #00ff7f;
  }
  
  .grey {
    background-color: #232222;
  }
  
  .blue {
    background-color: #1e90ff;
  }
  
  .orange {
    background-color: #ffa500;
  }
  
  /* Actions Dropdown */
  .action-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .action-dropdown i {
    cursor: pointer;
  }
  
  .option-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    
    animation: fadeIn 0.3s;
  }
  
  .option-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .option-dropdown li {
    padding: 10px;
    cursor: pointer;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-dropdown li:hover {
    background-color: #f4f4f4;
  }

  .option-title {
    font-weight: bold;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Campaign Details Prompt */
  /* .campaign-details-modal { 
    Styling for the campaign details modal 
  } */

  .user-table-container {
    position: relative;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .pagination-button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .prev-button {
    /* Add specific styles for the previous button */
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .next-button {
    /* Add specific styles for the next button */
    background-color: #28a745;
    color: white;
    border-color: #28a745;
  }
  


  .legend-box {
    background-color: white;
    border: 2px solid #ddd;
    padding: 5px;
    margin-bottom: -10px;
    display: inline-block;
  }
  
  .legend {
    display: flex;
    flex-direction: row;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    margin-left: 12px;
  }
  