/* CSS for NotFound.js */

#not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  #not-found-title {
    font-size: 5rem;
    color: #d32f2f;
  }
  
  .not-found-description {
    font-size: 1.5rem;
    color: #333;
  }
  #home-button{
    text-decoration: none; /* Remove underline */
  color: #007bff; /* Link color */
  transition: color 0.3s; 

  }
  /* Media query for responsive design */
  @media (max-width: 768px) {
    #not-found-title {
      font-size: 2rem;
    }
  
    .not-found-description {
      font-size: 1.2rem;
    }
  }
  