

.reports-campaign-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    height: 80vh;
  }


  .layout-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: auto;
  }




.reports-campaign-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px;
    background-color: #001C30;
    background: linear-gradient(to right, #001C30, #176B87);
    z-index: 1;
  }
  
  .reports-campaign-info {
    flex-grow: 1;
  }
  
  .reports-campaign-name {
    margin: 0;
    color: #EEEEEE;
    font-size: 25px;
    font-weight: 500;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }

  
  .options {
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .option-icon {
    font-size: 24px;
    color: #EEEEEE; /* Palette color */
    transition: color 0.3s;
  }
  
  .options:hover {
    color: #787A91;
  }
  
  .options-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    transform: translate(0, -5px);
    transition: transform 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .option-title {
    padding: 10px 20px;
    color: #0F044C; /* Palette color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-title:hover {
    background-color: #EEEEEE; /* Palette color */
  }
  
  
  .options-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options-dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .options-dropdown li:hover {
    background-color: #f4f4f4;
  }


  .left-block {
    background-color: #f5f5f5;
    padding: 20px;
    width: 20%;
  }
  
  .filter-options {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Style checkboxes and labels */
  .campaign-type label,
  .campaign-status label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style buttons */
  .buttons button {
    margin-top: 10px;
  }
  


  .table-container {
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  
  .campaign-report-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .campaign-report-table th,
  .campaign-report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Hide the scrollbar */
  .table-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  .right-block {
    width: 80%;
    padding: 20px;
    /* Add your styles for the right block */
  }



  /* Mobile Styles */
/* These styles apply to screens up to 768px wide (typical mobile phones) */
@media (max-width: 768px) {
    /* Adjust styles for mobile screens here */
    .reports-campaign-page {
      /* Example: Set margin or padding for smaller screens */
      margin: 10px;
    }
  
    /* Example: Reduce font size for smaller screens */
    h1 {
      font-size: 24px;
    }
  }
  
  /* Tablet Styles */
  /* These styles apply to screens between 769px and 1024px wide (typical tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for tablets here */
  }
  
  /* Desktop Styles */
  /* These styles apply to screens wider than 1024px (typical laptops and larger screens) */
  @media (min-width: 1025px) {
    /* Adjust styles for desktop screens here */
  }
  